body{
    padding-top: 120px;
    background: #ffffff url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Common */
/*--------------------------------------------------------------------------*/

.button {
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
    cursor: pointer;
}

.button:hover,
.button:active {
    opacity: 0.8;
}

h1{
    font-size: 2.5em;
}

.navbar{
    color: #ffffff;
    background-color: rgba(0, 131, 250, 0.5);
    border-bottom: #ffffff 8px solid;
    color: #ffffff;
}

.brandhead img{
    width: 40%;
}

.brand{
    margin: 0;
    margin-left: 20px;
    padding: 0;
    font-size: 2em;
}

.brand a{
    text-decoration: none;
}

#category{
    margin-top:10px;
    margin-bottom: 100px;
}

.navbar-toggle {
    margin-top:15px;
    margin-bottom: 15px;
}

.navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar a{
    color: #ffffff;
}

.navbar a:hover{
    color: #ffffff;
}

ul#cat-menu{
    margin: 10px 0px;
}

ul#cat-menu > li{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ul#cat-menu > li > a{
    letter-spacing: 2px;
    color: #ffffff;
}

ul#cat-menu > li > a:hover{
    background-color: transparent;
}

ul#cat-menu > li.active{
    background-color: #ffffff;

}
ul#cat-menu > li.active > a{
    color: rgba(0, 131, 250, 1)
}

.img-pad{
    padding: 15px;
}
.tabs{
    float: right;
    margin-right: -45px;
}

.tabs ul{
    width:100%;
    height: 100%;
    list-style: none;
    display: inline-block;
    padding:0;
    margin: 0;
}

.tabs li{
    font-size: 1.2em;
    color: #ffffff !important;
    float: left;
    width: 30%;
    height: 100%;
    margin: 0 -5px;
    text-align: center;
    padding: 20px 0px;
    border: 10px solid #ffffff;
    border-top: 0;
    border-bottom: 0;
    background: rgb(13, 112, 82);
    /* Skew */
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.tabs li p{
    cursor: pointer;
    display:block;
    text-decoration:none;
   -webkit-transform: skew(-20deg) !important;
   -moz-transform: skew(-20deg) !important;
   -ms-transform: skew(-20deg) !important;
   -o-transform: skew(-20deg) !important;
   transform: skew(-20deg) !important;
}

.tabs .selected{
    background-color: rgb(89, 192, 161);
}

/******* login and home page css ***********/

.login_wrap {
    position: absolute;
    width: 400px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -15%;
    text-align: center;
}

.login_wrap p {
    color: #ffffff;
    margin-bottom: 50px;
}

.login_wrap button {
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.login_wrap button:hover {
    background: rgba(255,255,255,0.8);
}

.button_text{
    margin: 10px 10px 15px 60px;
    width: 280px;
    font-size: 1.3em;
}

.login_wrap img{
    float: left;
    border-radius: 100%;
    height: 60px;
    width: 60px;
}

#login , #home{
    margin-top: 50px;
}

#caption p{
    color: #ffffff;
    font-size: 1.4em;
}

#options{
    margin-top: 50px;
    color: #000000;
}

#options ul li{
    width: 220px;
    cursor: pointer;
    background-color: rgb(81, 207, 172);
    padding: 15px;
    text-align: center;
    color: #000000;
    font-size: 1.2em;
    box-shadow: 0px 7px 0px rgb(50, 168, 145);
}

.pointer{
    cursor: pointer;
}

@media screen and (max-width: 768px) and (max-height: 830px) {

    body{
        font-size: 20px;
    }
    .tabs li {
        font-size: 1em;
    }

    #options ul li{
        margin: 20px auto;
    }

}

@media screen and (min-width: 768px){
    #options ul li{
        float:left;
        margin: 10px;
    }
}
/* ----------Item Display css-----------  */

.voteclose{
    float: right;
}

.modal-dialog{
    margin: 200px auto;
    padding: 0px 20px;
}
.modal-content{
    font-size: 1em;
    font-family: 'Raleway', sans-serif !important;
}


.item-tag{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0px 10px;
}
.box{
    display: inline-block;

}
.item-box{
    padding: 10px 0px;
}

.item-place{
    background-color: #fff;
}
.lf-box{
    height: 50px;
    width: 50px;
    border : 5px solid #fff;
    background-color: rgb(53, 139, 187);
}
.item-desc{
    height: 50px;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0px;
}

.item-desc input{
    border: none;
    outline: none;
    width: 100%;
}
.sqr-box{
    float: left;
    width: 50px;
    height: 50px;
    background: rgba(101, 101, 107, 0.5) ;

}

.item-vote{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding: 3px 0px;
}

.vote-up{
    background-size: contain;
    cursor: pointer;
    background-image: url("../images/UpVoteButton.svg") ;

}

.add-this{
    background-image: url("../images/Add_Item.svg") ;
    background-size: contain;
    cursor: pointer;
}

.plus-img{
    background-size: contain;
    background-image: url("../images/Add_New_Item.png");
    float: left;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


@media (max-width: 768px){


    .modal-content{
    font-size: 0.7em;
    font-family: 'Raleway', sans-serif !important;
    }


    .modal-title{
    font-size: 1.5em;
    }

    #caption{
        margin-left: 10px;
    }

    #caption p{
        color: #ffffff;
        font-size: 0.9em;
    }

    .item-tag{
        color: #ffffff;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0px 5px;
    }
    .login_wrap {
        position: absolute;
        width: 300px;
        height: 150px;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -150px;
        text-align: center;
    }

    .button_text{
    margin: 5px 10px 5px 50px;
    width: 200px;
    font-size: 1em;
    }

    .login_wrap img{
    float: left;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    }

    #home{
        margin-left: -50px;
    }

    #options{
    margin-top: 50px;
    color: #000000;
    }

    #options ul li{
        width: 220px;
        cursor: pointer;
        background-color: rgb(81, 207, 172);
        padding: 10px;
        text-align: center;
        color: #000000;
        font-size: 1em;
        box-shadow: 0px 7px 0px rgb(50, 168, 145);
    }


    .item-box{
        padding: 6px 0px;
    }
    .item-desc{
        font-size: 1em;
        height: 40px;
        padding: 6px 0px;
    }
    .lf-box{
    height: 40px;
    width: 40px;
    border : 5px solid #fff;
    background-color: rgb(53, 139, 187);
    }
    .sqr-box{
    width: 40px;
    height: 40px;
    background: rgba(101, 101, 107, 0.5) ;
    }
    .item-vote{
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 3px 0px;
    }

    .vote-up{
    background-size: contain;
    cursor: pointer;
    background-image: url("../images/UpVoteButton.svg") ;
    }
    .add-this{
    background-image: url("../images/Add_Item.svg") ;
    background-size: contain;
    cursor: pointer;
    }
}


/* Loader Css */


.loader{
    color: #ffffff;
    margin: 150px auto;
    width: 240px;
    height: 29px;
}

#fountainG{
position:relative;
width:240px;
height:29px
}

.fountainG{
position:absolute;
top:0;
background-color:#0094A8;
width:29px;
height:29px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.1s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:19px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:19px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.1s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:19px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.1s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:19px;
animation-name:bounce_fountainG;
animation-duration:1.1s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:19px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.44s;
-webkit-animation-delay:0.44s;
-ms-animation-delay:0.44s;
-o-animation-delay:0.44s;
animation-delay:0.44s;
}

#fountainG_2{
left:30px;
-moz-animation-delay:0.55s;
-webkit-animation-delay:0.55s;
-ms-animation-delay:0.55s;
-o-animation-delay:0.55s;
animation-delay:0.55s;
}

#fountainG_3{
left:60px;
-moz-animation-delay:0.66s;
-webkit-animation-delay:0.66s;
-ms-animation-delay:0.66s;
-o-animation-delay:0.66s;
animation-delay:0.66s;
}

#fountainG_4{
left:90px;
-moz-animation-delay:0.77s;
-webkit-animation-delay:0.77s;
-ms-animation-delay:0.77s;
-o-animation-delay:0.77s;
animation-delay:0.77s;
}

#fountainG_5{
left:120px;
-moz-animation-delay:0.88s;
-webkit-animation-delay:0.88s;
-ms-animation-delay:0.88s;
-o-animation-delay:0.88s;
animation-delay:0.88s;
}

#fountainG_6{
left:150px;
-moz-animation-delay:0.99s;
-webkit-animation-delay:0.99s;
-ms-animation-delay:0.99s;
-o-animation-delay:0.99s;
animation-delay:0.99s;
}

#fountainG_7{
left:180px;
-moz-animation-delay:1.1s;
-webkit-animation-delay:1.1s;
-ms-animation-delay:1.1s;
-o-animation-delay:1.1s;
animation-delay:1.1s;
}

#fountainG_8{
left:210px;
-moz-animation-delay:1.21s;
-webkit-animation-delay:1.21s;
-ms-animation-delay:1.21s;
-o-animation-delay:1.21s;
animation-delay:1.21s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#0094A8;
}

100%{
-moz-transform:scale(.3);
background-color:#C9C9C9;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#0094A8;
}

100%{
-webkit-transform:scale(.3);
background-color:#C9C9C9;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#0094A8;
}

100%{
-ms-transform:scale(.3);
background-color:#C9C9C9;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#0094A8;
}

100%{
-o-transform:scale(.3);
background-color:#C9C9C9;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#0094A8;
}

100%{
transform:scale(.3);
background-color:#C9C9C9;
}

}
