body{
    padding-top: 120px;
    background: #ffffff url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 2.5em;
}

.navbar{
    color: #ffffff;
    background-color: rgba(0, 131, 250, 0.5);
    border-bottom: #ffffff 8px solid;
    color: #ffffff;
}

.brand{
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    font-size: 2.5em;
}

#category{
    margin-top:10px;
    margin-bottom: 100px;
}
.navbar-toggle {
    margin-top:15px;
    margin-bottom: 15px;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.icon-bar:hover{
    background-color: rgba(0, 131, 250, 1);
}

.navbar a{
    color: #ffffff;
}

.navbar a:hover{
    color: #ffffff;
}

ul#cat-menu{
    margin: 10px 0px;
}

ul#cat-menu > li{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ul#cat-menu > li > a{
    letter-spacing: 2px;
    color: #ffffff;
}

ul#cat-menu > li > a:hover{
    background-color: transparent;
}

ul#cat-menu > li.active{
    background-color: #ffffff;

}
ul#cat-menu > li.active > a{
    color: rgba(0, 131, 250, 1)
}

.img-pad{
    padding: 15px;
}
.tabs{
    float: right;
    margin-right: -45px;
}

.tabs ul{
    width:100%;
    height: 100%;
    list-style: none;
    display: inline-block;
    padding:0;
    margin: 0;
}

.tabs li{
    font-size: 1.2em;
    color: #ffffff !important;
    float: left;
    width: 30%;
    height: 100%;
    margin: 0 -5px;
    text-align: center;
    padding: 20px 0px;
    border: 10px solid #ffffff;
    border-top: 0;
    border-bottom: 0;
    background: rgb(13, 112, 82);
    /* Skew */
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.tabs li p{
    cursor: pointer;
    display:block;
    text-decoration:none;
   -webkit-transform: skew(-20deg) !important;
   -moz-transform: skew(-20deg) !important;
   -ms-transform: skew(-20deg) !important;
   -o-transform: skew(-20deg) !important;
   transform: skew(-20deg) !important;
}

.tabs .selected{
    background-color: rgb(89, 192, 161);
}

/******* login and home page css ***********/

.login_wrap {
    position: absolute;
    width: 400px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -15%;
    text-align: center; 
}

.login_wrap p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.login_wrap button {
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 10px;
}
.login_wrap button:hover {
    background: rgba(255,255,255,0.8);
}

.button_text{
    margin: 10px 10px 15px 60px;
    width: 280px;
    font-size: 1.3em;
}

.login_wrap img{
    float: left;    
    border-radius: 100%;
    height: 60px;
    width: 60px;
}




#login , #home{
    margin-top: 50px;
}

#caption p{
    color: #ffffff;
    font-size: 1.4em;
}

#options{
    margin-top: 50px;
    color: #000000;
}

#options ul li{
    width: 220px;
    cursor: pointer;
    background-color: rgb(81, 207, 172);
    padding: 15px;
    text-align: center;
    color: #000000;
    font-size: 1.2em;
    box-shadow: 0px 7px 0px rgb(50, 168, 145);
}

.pointer{
    cursor: pointer;
}
@media screen and (max-width: 768px) and (max-height: 830px) {

    body{
        font-size: 20px;
    }
    .tabs li {
        font-size: 1em;
    }

    #options ul li{
        margin: 20px auto;
    }

}

@media screen and (min-width: 768px){
    #options ul li{
        float:left;
        margin: 10px;
    }
}

/* ----------Item Display css-----------  */

.box{
    display: inline-block;

}
.item-box{
    padding: 10px 0px;
}

.item-place{
    background-color: #fff;
}
.lf-box{
    height: 50px;
    width: 50px;
    border : 5px solid #fff;
    background-color: rgb(53, 139, 187);
}
.item-desc{
    height: 50px;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0px;
}

.item-desc input{
    border: none;
    outline: none;
    width: 100%;
}
.sqr-box{
    float: left;
    width: 50px;
    height: 50px;
    background: rgba(101, 101, 107, 0.5) ;

}

.item-vote{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding: 3px 0px;
}

.vote-up{
    background-size: contain;
    cursor: pointer;
    background-image: url("../images/UpVoteButton.svg") ;

}

.add-this{
    background-image: url("../images/Add_Item.svg") ;
    background-size: contain;
    cursor: pointer;
}

.plus-img{
    background-size: contain;
    background-image: url("../images/Add_New_Item.png");
    float: left;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.flash-msg{
    width: 260px;
    height: auto;
    position: absolute;
    top: 4%;
    right: 10%;
    font-size: 1.4em;
    background-color: rgba(221, 217, 233, 0.14);
    color: #fff;
    padding: 4px 2px 4px 10px;
    border-radius: 11px;
}


@media (max-width: 768px){
    #caption{
        margin-left: 10px;
    }

    #caption p{
        color: #ffffff;
        font-size: 0.9em;
    }

    .login_wrap {
        position: absolute;
        width: 300px;
        height: 150px;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -150px;
        text-align: center;
    }

    .button_text{
    margin: 5px 10px 5px 50px;
    width: 200px;
    font-size: 1em;
    }

    .login_wrap img{
    float: left;    
    border-radius: 100%;
    height: 40px;
    width: 40px;
    }

    #home{
        margin-left: -50px;
    }

    #options{
    margin-top: 50px;
    color: #000000;
    }

    #options ul li{
        width: 220px;
        cursor: pointer;
        background-color: rgb(81, 207, 172);
        padding: 10px;
        text-align: center;
        color: #000000;
        font-size: 1em;
        box-shadow: 0px 7px 0px rgb(50, 168, 145);
    }


    .item-box{
        padding: 6px 0px;
    }
    .item-desc{
        font-size: 1em;
        height: 40px;
        padding: 6px 0px;
    }
    .lf-box{
    height: 40px;
    width: 40px;
    border : 5px solid #fff;
    background-color: rgb(53, 139, 187);
    }
    .sqr-box{
    width: 40px;
    height: 40px;
    background: rgba(101, 101, 107, 0.5) ;
    }
    .item-vote{
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 3px 0px;
    }

    .vote-up{
    background-size: contain;
    cursor: pointer;
    background-image: url("../images/UpVoteButton.svg") ;
    }
    .add-this{
    background-image: url("../images/Add_Item.svg") ;
    background-size: contain;
    cursor: pointer;
    }

}