<nav class="navbar navbar-color navbar-fixed-top">
    <div class="">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-4 text-center">
                <h2><strong>Ophio Foodly</strong></h2>
            </div>
            <div class="hidden-xs col-sm-9 col-md-8 tabs">
                <ul class="nav">
                    <a href="#/category/{{category.href}}" ng-repeat="category in categories"><li ng-class="{selected: temp.currentCategory == category.href}"><p>{{category.title}}</p></li></a>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-repeat="(item_id, item) in availableItems | orderBy:'name'"
      ng-if="item.category == temp.currentCategory">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 item-box">
                <div class="row">
                    <div class="col-xs-8 item-place">
                        <div class="row">
                            <div class="col-xs-2 lf-box pull-left"></div>
                            <div class="col-xs-9 item-desc">{{item.name}}</div>
                        </div>
                    </div>
                    <div class="col-xs-2 item-vote sqr-box" ng-if="todaysVotes[item_id]">
                        <span>{{getVoteCount(todaysVotes[item_id])}}</span>
                    </div>
                    <div class="col-xs-2 item-vote sqr-box" ng-if="!todaysVotes[item_id]">
                        0
                    </div>
                    <div class="col-xs-2 vote-up sqr-box" ng-click="upVoteItem(item_id)" ng-if="!todaysVotes[item_id] || !todaysVotes[item_id][currentUser.id]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  ng-show="temp.addingItem">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 item-box">
            <div class="row">
                <div class="col-xs-8 item-place">
                    <div class="row">
                        <div class="col-xs-2 lf-box pull-left"></div>
                        <div class="col-xs-9 item-desc">
                            <input type="text" ng-model="temp.itemName" placeholder="Add Item" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 add-this sqr-box" ng-click="addNewItem();" ng-if="temp.itemName.length > 0"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-2">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 col-md-offset-2 new-item box" ng-if="!temp.addingItem">
                    <div class="plus-img" ng-click="temp.addingItem = true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
