<div class="header small-header">
    <div class="logo small-logo">
        <div class="responsive"><img src="images/OPHIO_FOODLY_small.svg"></div>
    </div>
    <div class="tabs">
        <ul>
            <a href="#/cat/{{category.href}}" ng-repeat="category in categories"><li ng-class="{selected: tabCategory == category.href}"><p>{{category.title}}</p></li></a>
        </ul>
    </div>
</div>

<div class="content-box">
    <div class="items-wrapper">
        <div class="main-item box" ng-repeat="(item_id, item) in Items | orderBy:'name'" ng-show="item.category==tabCategory">
            <div class="item-place">
                <div class="lf-box"></div>
                <div class="item-desc">{{item.name}}</div>
            </div>
            <div class="item-vote sqr-box" ng-if="todayVotes[item_id]">
                <span>{{getVoteCount(todayVotes[item_id])}}</span>
            </div>
            <div class="item-vote sqr-box" ng-if="!todayVotes[item_id]">0</div>
            <div class="vote-up sqr-box" ng-click="upVoteItem(item_id)" ng-if="!todayVotes[item_id] || todayVotes[item_id].indexOf(userId) < 0"></div>
        </div>
        <div class="add-item box" ng-show="temp.addingItem">
            <div class="item-place">
                <div class="lf-box"></div>
                <div class="element-area">
                    <input type="text" ng-model="temp.itemName" placeholder="Add Item" required>
                </div>
            </div>
            <div class="add-this sqr-box" ng-click="addNewItem();" ng-if="temp.itemName.length > 0"></div>
        </div>
        <div class="new-item box" ng-if="!temp.addingItem">
            <div class="plus-img" ng-click="temp.addingItem = true"></div>
        </div>
    </div>
</div>
