<nav class="navbar navbar-color navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="brandhead col-xs-5">
                <a href="#">
                    <img class="img-responsive" src="images/Ophio_Foodly_Logo.png">
                </a>
			</div>
            <div class="col-xs-7 dashButton">
                <button class="btn btn-success" ng-if="chartCategory=='all'" >
                    <a href="#/category/dashboard/daily"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Today Stats</a>
                </button>
                <button class="btn btn-success" ng-if="chartCategory=='daily'">
                    <a href="#/category/dashboard/all"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Overall Stats</a>
                </button>
            </div>
		</div>
	</div>
</nav>
<div class="container">
    <div class="loader" ng-if="temp.loadingChartData">
        <div id="fountainG">
            <div id="fountainG_1" class="fountainG">
            </div>
            <div id="fountainG_2" class="fountainG">
            </div>
            <div id="fountainG_3" class="fountainG">
            </div>
            <div id="fountainG_4" class="fountainG">
            </div>
            <div id="fountainG_5" class="fountainG">
            </div>
            <div id="fountainG_6" class="fountainG">
            </div>
            <div id="fountainG_7" class="fountainG">
            </div>
            <div id="fountainG_8" class="fountainG">
            </div>
        </div>
    </div>
    <div ng-if="!temp.loadingChartData && chartCategory=='daily'" google-chart chart="chartObjectDaily" class="chart"></div>
    <br />
    <div ng-if="!temp.loadingChartData && chartCategory=='all'" google-chart chart="chartObjectAll" class="chartall"></div>
</div>
<div class="modal fade connectionalert">
  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Ophio Foodly</h2>
          </div>
          <div class="modal-body">
            <p><strong>Oops!</strong>&nbsp; Check your Internet Connection&hellip; <span class="glyphicon glyphicon-globe"></span></p>
          </div>
      </div><!-- /.modal-dialog -->
  </div>
</div>

