
<div class="header large">
    <div class="logo large-logo responsive"><img src="images/OPHIO_FOODLY_BIG.svg" /></div>
</div>
<div class="content">
    <div class="menu-wrapper">
        <p>Control the food you eat !</p>
        <ul>
            <li>
                <div class="menu" ng-click="show('/category/healthy')"><p>Healthy Bytes</p></div>
            </li>
            <li>
                <div class="menu" ng-click="show('/category/snacks')"><p>Snack Bytes</p></div>
            </li>
            <li>
                <div class="menu" ng-click="show('/category/drinks')"><p>Drinks</p></div>
            </li>
        </ul>
    </div>
</div>
