<nav class="navbar navbar-color navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="brand" href="#">Ophio Foodly</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="content">
        <div class="menu-wrapper">
            <div class="row menu-para">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <p>Control the food you eat !</p>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li>
                        <div class="menu" ng-click="show('/category/healthy')"><p>Healthy Bytes</p></div>
                    </li>
                    <li>
                        <div class="menu" ng-click="show('/category/snacks')"><p>Snack Bytes</p></div>
                    </li>
                    <li>
                        <div class="menu" ng-click="show('/category/drinks')"><p>Drinks</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
