<nav class="navbar navbar-color navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="brand">
                    <a  href="#">
                        <img src="images/OphioLogoLight.png">Foodly
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container" id="home">
    <div class="row" id="caption">
        <div class="col-xs-12 text-center">
            <p>Control the food you eat !</p>
        </div>
    </div>
    <div class="row" id="options">
        <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-xl-9 col-xl-offset-1">
            <ul class="nav">
                <li ng-click="show('/category/healthy')"><p>Healthy Bytes</p></li>
                <li ng-click="show('/category/snacks')"><p>Snack Bytes</p></li>
                <li ng-click="show('/category/drinks')"><p>Drinks</p></li>
            </ul>
        </div>
    </div>
</div>
