<nav class="navbar navbar-color navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
                <div class="brand">
				    <a href="#">
                        <img src="images/Ophio_Foodly_Logo.png">
                    </a>
                </div>
			</div>
		</div>
	</div>
</nav>
<div class="container" id="login">
	<div class="content">
 		<section class="login_wrap">
 			<p>Control the food you eat !</p>
 			<button ng-click="login()">
 				<i><img src="images/google-plus.png" class="img-responsive"></i>
 				<div class="button_text">Connect with Google</div>
            </button>
 		</section>
 	</div>
</div>


