<nav class="navbar navbar-color navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<a class="brand" href="#">Ophio Foodly</a>
			</div>
		</div>
	</div>
</nav>
<div class="container" id="login">
	<div class="row" id="caption">
    	<div class="col-xs-12 text-center">
    		<p>Control the food you eat !</p>
    	</div>
    </div>
    <div class="row" id="options">
    	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
	        <div class="pointer" ng-click="login()">
	        	<img src="images/Connect_with_Google.svg" class="img-responsive" alt="Login with Google">
	        </div>
    	</div>
    </div>
</div>
